body {
    font-family: 'Space Grotesk', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    background-color: #459268;
}

.header ul {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 30px;
    font-size: 35px;
    color: #ffbdbd;
}

.hero-section {
    height: 600px;
    background-image: linear-gradient(#78dba5,  #f89cb3 );
    display: flex;
}

.hero-text {
    padding: 40px 80px;
    display: inline-block;
}

.hero-text h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#ffffff, #fa406e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 500px;
}

.hero-text h2 {
    color: #6decbc;
    font-size: 24px;
    width: 600px;
}

.hero-btn button {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    background-color: #ffd39a;
    color: white;
    box-shadow: #d35959 0px 20px 30px -10px;
}

.hero-img {
    display: flex;
    padding: 40px;
    margin-left: 200px;
}

.hero-img img {
    border-radius: 20px;
    box-shadow: rgba(93, 50, 84, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.playlists {
     background-image: linear-gradient(#ffffff,  #f5c1c1, #5eb892);
}

.playlists h2 {
    font-size: 48px;
    background: -webkit-linear-gradient(#ffffff, #fa406e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.playlists-cards {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.cards-text {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;
    color: white;
    gap: 10px;
}

.quote-container {
    background-image: url(./images/1711593.gif);
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 50px;
    padding: 60px 40px;
    display: flex;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    width: 800px;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.cta-bg {
    background-image: linear-gradient(#ffffff,  #f5c1c1, #5eb892);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.cta {
    background-color: #ffd39a;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
    border-radius: 10px;
}

.cta-text {
    margin: 20px;

}

.cta-text .title {
    font-weight: 900;
    font-size: 24px;
}

.cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cta-btn {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
    border: white 3px solid;
    color: white;
    background-color: #ffd39a;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.footer {
    color:white;
    font-size: 12px;
    background: #264e4c;
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}